## BPC Broadband Spatial Visualization Tool

Due to memory limits, it makes sense to do states (or individual counties/blocks/etc) one my one, potentially merging for final visualization nationwide. I will start here with Santa Cruz county, as it has a nice mix of urban and rural blockgroups varying in size.

In [10]:
import pandas as pd
from sodapy import Socrata
import sklearn

client = Socrata("opendata.fcc.gov", None)
blockcode_prefix = '06087' #Santa Cruz County, CA

# https://opendata.fcc.gov/Wireline/Fixed-Broadband-Deployment-Data-Jun-2019-Status-V2/c67e-jknh
# June 2019 FCC form 477 data, the last dataset where contractual downspeed is reported

results = client.get("c67e-jknh", where="starts_with(blockcode, '{}')".format(blockcode_prefix))

# Convert to pandas DataFrame
fcc_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [11]:
fcc_df.head()

,logrecno,provider_id,frn,providername,dbaname,holdingcompanyname,hoconum,hocofinal,stateabbr,blockcode,techcode,consumer,maxaddown,maxadup,business,maxcirdown,maxcirup
0,43635971,61431,0001568880,GCI Communication Corp.,GCI Communication Corp.,GCI Holdings LLC,130534,GCI Holdings LLC,CA,060871206002010,60,0,0,0,1,0,0
1,19224101,51689,0018525139,Cruzio Media Inc.,Cruzio Internet,"Cruzio Holdings, LLC",300043,"Cruzio Holdings, LLC",CA,060871231002009,70,1,30,30,1,0,0
2,24758728,53458,0003768165,"COMCAST CABLE COMMUNICATIONS, LLC",Comcast,Comcast Corporation,130317,Comcast Corporation,CA,060871101004010,43,1,400,10,1,0,0
3,31899746,58057,0001551530,AT&T California,AT&T California,AT&T Inc.,130077,AT&T Inc.,CA,060871203022007,10,1,6,0.512,0,0,0
4,45017250,53601,0018756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",CA,060871011002010,60,1,2,1.3,1,0,0

In [12]:
fcc_df.columns

Index(['logrecno', 'provider_id', 'frn', 'providername', 'dbaname',
       'holdingcompanyname', 'hoconum', 'hocofinal', 'stateabbr', 'blockcode',
       'techcode', 'consumer', 'maxaddown', 'maxadup', 'business',
       'maxcirdown', 'maxcirup'],
      dtype='object')

In [13]:
# from https://www.census.gov/cgi-bin/geo/shapefiles/index.php?year=2020&layergroup=Blocks+%282020%29
# note that these data came from the Block 2010 dropdown... not sure if they are wrong (2020) or are just mislabelled.
import geopandas as gpd
boundaries = gpd.read_file('tl_2020_06_tabblock10/tl_2020_06_tabblock10.shp')
# todo: these block tables are available via ftp - can we use wget to download them in a reproducible script (caching those that we have already locally)?

In [14]:
boundaries.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYPE,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,06,053,990000,0022,060539900000022,Block 0022,G5040,R,None,None,S,0,108813,+36.6198060,-121.8656872,"POLYGON ((-121.87047 36.62428, -121.86566 36.6..."
1,06,079,010300,2197,060790103002197,Block 2197,G5040,R,None,None,S,0,19728,+35.5682413,-120.5463575,"POLYGON ((-120.54670 35.56806, -120.54670 35.5..."
2,06,065,041004,3010,060650410043010,Block 3010,G5040,U,75340,U,S,0,112115,+33.9655123,-117.4800790,"POLYGON ((-117.50185 33.97037, -117.50095 33.9..."
3,06,089,012601,3229,060890126013229,Block 3229,G5040,R,None,None,S,0,8625,+40.5745994,-122.1339493,"POLYGON ((-122.14140 40.57102, -122.14100 40.5..."
4,06,019,005801,2007,060190058012007,Block 2007,G5040,U,31843,U,S,38373,34575,+36.7951899,-119.6870846,"POLYGON ((-119.69096 36.79703, -119.69088 36.7..."